{"http_interactions":[{"request":{"method":"get","uri":"http://open-api.cafepress.com/product.listByStore.cp?v=3&appKey=kw5cj2p9c63v8tashj34f5c7&storeId=justnephmerch&page=0&pageSize=100","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"content-type":["text/xml"], "cp":["LVA07"]},"body":{"encoding":"US-ASCII","string":"<?xml version=\"1.0\" encoding=\"utf-8\"?><products><product id=\"675378576\" name=\"justNeph Cartoon Flask\" merchandiseId=\"720\" sellPrice=\"22.50\" marketplacePrice=\"25.00\" currencyName=\"US Dollar\" currencyCode=\"USD\" currencySymbol=\"$\" description=\"Time to get twisted with your favorite Youtuber.\" memberId=\"69528871\" storeId=\"justNephMerch\" sectionId=\"0\" defaultOrientation=\"Normal\" defaultPerspective=\"Front\" basePrice=\"16.99\" shortCaption=\"Flask\" defaultCaption=\"Flask\" shortDescription=\"Flask\" categoryId=\"112\" categoryCaption=\"Drinkware\" stockAvailability=\"In Stock\" stockAvailabilityStatusId=\"1\" merchandiseAvailability=\"Limited Edition Item\" merchandiseAvailabilityStatusId=\"2\" defaultProductUri=\"http://images6.cafepress.com/product/675378576v8_240x240_Front_Color-StainlessSteel.jpg\" marketplaceUri=\"http://www.cafepress.com/+justneph_cartoon_flask,675378576\" storeUri=\"http://www.cafepress.com/justNephMerch.675378576\" additionalPhotoCount=\"0\" isCalendar=\"false\" isBook=\"false\" isCD=\"false\" isAudioCD=\"false\" isPoster=\"false\" legacyHeightValue=\"0\" legacyWidthValue=\"0\" sortPriority=\"2\" isSellable=\"true\" isFulfillment=\"false\"><color id=\"176\" name=\"Stainless Steel\" default=\"true\" allowed=\"true\" colorSwatchUrl=\"http://content.cpcache.com/marketplace/img/swatches/swatch_720_c176.gif\" /><perspective name=\"Front\" pixelWidth=\"480\" pixelHeight=\"480\" sortOrder=\"0\" isEditable=\"true\" defaultMediaRegion=\"FrontCenter\" label=\"F\" wildcardProductUri=\"http://images6.cafepress.com/nocache/product/675378576v8_240x240_Front_Color-StainlessSteel.jpg\"><showsMediaRegion>FrontCenter</showsMediaRegion></perspective><mediaConfiguration dpi=\"200\" height=\"3\" width=\"2.64550257\" name=\"FrontCenter\" designId=\"69935154\" alignment=\"MiddleCenter\" isEditable=\"true\" perspectives=\"Front\" /><productImage colorId=\"176\" perspectiveName=\"Front\" imageSize=\"480\" productUrl=\"http://i1.cpcache.com/product/675378576/justneph_cartoon_flask.jpg?color=StainlessSteel\" /><productImage colorId=\"176\" perspectiveName=\"Front\" imageSize=\"350\" productUrl=\"http://i1.cpcache.com/product/675378576/justneph_cartoon_flask.jpg?color=StainlessSteel&amp;height=350&amp;width=350\" /><productImage colorId=\"176\" perspectiveName=\"Front\" imageSize=\"240\" productUrl=\"http://i1.cpcache.com/product/675378576/[...]
