{"http_interactions":[{"request":{"method":"get","uri":"http://api.spreadshirt.com/api/v1/shops/460970/articles","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"content-language":["us-us"], "content-type":["application/xml;charset=UTF-8"], "x-server-name":["mem1"]},"body":{"encoding":"US-ASCII","string":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<articles xmlns:xlink=\"http://www.w3.org/1999/xlink\" xmlns=\"http://api.spreadshirt.net\" xlink:href=\"http://api.spreadshirt.com/api/v1/shops/460970/articles?fullData=true\" offset=\"0\" limit=\"50\" count=\"1\" sortField=\"default\" sortOrder=\"default\">\n    <article xlink:href=\"http://api.spreadshirt.com/api/v1/shops/460970/articles/12645838\" id=\"12645838\">\n        <name>Test shirt</name>\n        <price>\n            <vatExcluded>21.00</vatExcluded>\n            <vatIncluded>21.00</vatIncluded>\n            <vat>0.00</vat>\n            <currency xlink:href=\"http://api.spreadshirt.com/api/v1/currencies/3\" id=\"3\"/>\n        </price>\n        <resources>\n            <resource mediaType=\"png\" type=\"preview\" xlink:href=\"http://image.spreadshirt.com/image-server/v1/products/106130650/views/1\"/>\n        </resources>\n    </article>\n</articles>\n"},"http_version":"1.1"},"recorded_at":"Tue, 14 May 2013 16:30:09 GMT"},{"request":{"method":"get","uri":"http://api.spreadshirt.com/api/v1/shops/460970/articles/12645838","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"content-language":["us-us"], "content-type":["application/xml;charset=UTF-8"], "x-server-name":["mem2"]},"body":{"encoding":"US-ASCII","string":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<article xmlns:xlink=\"http://www.w3.org/1999/xlink\" xmlns=\"http://api.spreadshirt.net\" weight=\"1.0\" xlink:href=\"http://api.spreadshirt.com/api/v1/shops/460970/articles/12645838\" id=\"12645838\">\n    <name>Test shirt</name>\n    <description>test desc</description>\n    <safeSearch>strict</safeSearch>\n    <price>\n        <vatExcluded>21.00</vatExcluded>\n        <vatIncluded>21.00</vatIncluded>\n        <vat>0.00</vat>\n        <currency xlink:href=\"http://api.spreadshirt.com/api/v1/currencies/3\" id=\"3\"/>\n    </price>\n    <shop xlink:href=\"http://api.spreadshirt.com/api/v1/shops/460970\" id=\"460970\"/>\n    <product xlink:href=\"http://api.spreadshirt.com/api/v1/shops/460970/products/106130650\" id=\"106130650\">\n        <user xlink:href=\"http://api.spreadshirt.com/api/v1/users/3004833\" id=\"3004833\"/>\n        <productType xlink:href=\"http://api.spreadshirt.com/api/v1/shops/460970/productTypes/210\" id=\"210\"/>\n        <appearance id=\"196\"/>\n        <restrictions>\n            <customizable>true</customizable>\n            <freeColorSelection>true</freeColorSelection>\n            <example>false</example>\n            <softBoundarySupported>true</softBoundarySupported>\n        </restrictions>\n        <defaultValues>\n            <defaultView id=\"1\"/>\n            <defaultDesign id=\"12362050\"/>\n        </defaultValues>\n    </product>\n    <resources>\n        <resource mediaType=\"png\" type=\"preview\" xlink:href=\"http://image.spreadshirt.com/image-server/v1/products/106130650/views/1\"/>\n        <resource mediaType=\"png\" type=\"product\" xlink:href=\"http://image.spreadshirt.com/image-server/v1/products/106130650/views/1\"/>\n        <resource mediaType=\"png\" type=\"composition\" xlink:href=\"http://image.spreadshirt.com/image-server/v1/compositions/106130650/views/1\"/>\n    </resources>\n    <created>2013-05-14T15:03:48Z</created>\n    <modified>2013-05-14T15:29:52Z</modified>\n</article>\n"},"http_version":"1.1"},"recorded_at":"Tue, 14 May 2013 16:30:19 GMT"}],"recorded_with":"VCR 2.4.0"}