{"http_interactions":[{"request":{"method":"get","uri":"http://feed.zazzle.com/justNeph/feed","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"content-type":["application/xml; charset=utf-8"], "rtss":["1"]},"body":{"encoding":"US-ASCII","string":"<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<rss version=\"2.0\" xmlns:opensearch=\"http://a9.com/-/spec/opensearch/1.1/\" xmlns:media=\"http://search.yahoo.com/mrss/\"><channel><title>justNeph: Zazzle.com Store: </title><link>http://feed.zazzle.com/z.2/api/find.aspx?ch=justNeph&amp;ou=%2fjustNeph%2ffeed</link><description></description><language>en-us</language><pubDate>Mon, 13 May 2013 15:50:36 GMT</pubDate><ttl>60</ttl><opensearch:totalResults>3</opensearch:totalResults><opensearch:startIndex>1</opensearch:startIndex><opensearch:itemsPerPage>60</opensearch:itemsPerPage><opensearch:Query role=\"request\" searchTerms=\"\" />\r\n<item><guid isPermaLink=\"false\">http://www.zazzle.com/justneph_messenger_bag_computer_bag-256512229341746841</guid><pubDate>Wed, 30 Jan 2013 06:10:16 GMT</pubDate><title><![CDATA[justNeph Messenger Bag Computer Bag]]></title><link>http://www.zazzle.com/justneph_messenger_bag_computer_bag-256512229341746841</link><author>justNeph</author><description><![CDATA[\r\n\r\n\r\n\r\n<div id=\"page_zWidget0\" class=\"dX dX-Grid gbb-Grid dX-152 clearfix\">\r\n\r\n\t\r\n\r\n\t<div  class=\"dX-realview gbb-realview clearfix\">\r\n\t\t\r\n\t\t<a href=\"http://www.zazzle.com/justneph_messenger_bag_computer_bag-256512229341746841\" id=\"page_zWidget0-imageLink\" class=\"dX-realviewLink\">\r\n\t\t\t\t<img id=\"page_zWidget0-preview\" src=\"http://rlv.zcache.com/justneph_messenger_bag_computer_bag-r53e6c2d36ac64d40aa15b71a7175d704_vxzzv_8byvr_152.jpg\" alt=\"justNeph Messenger Bag Computer Bag\" title=\"justNeph Messenger Bag Computer Bag\" class=\"dX-realviewImage\" />\r\n\t\t\t</a>\r\n\t\t\r\n\t</div>\r\n\r\n\t\r\n\t<div class=\"dX-info clearfix\" id=\"page_zWidget0-info\">\r\n\t\t\r\n\t\t\r\n\t\t<div class=\"\">\r\n\t\t\t\r\n\t\t\t\t<span class=\"gbb-price\">$169.95</span>\r\n\t\t\t\t\r\n\t\t\t\t\t<span class=\"\"> - </span>\r\n\t\t\t\t<a href=\"http://www.zazzle.com/justneph_messenger_bag_computer_bag-256512229341746841\" id=\"page_zWidget0-title\" class=\"gbb-productTitle\" title=\"justNeph Messenger Bag Computer Bag\">justNeph Messenger Bag Computer Bag</a>\r\n\t\t</div>\r\n\t\t<span class=\"gbb-byLine\">by <a href=\"javascript://\" id=\"page_zWidget0-storeLink\">justNeph</a></span>\r\n\t</div>\r\n\t\r\n</div>]]></description><price>$169.95</price><media:title><![CDATA[justNeph Messenger Bag]]></media:title><media:description><![CDATA[Got stuff to carry. Got drugs to move. Got a copy of 50 Shades you&#39;re embarassed to carry. Get the justNeph Messenger Bag! It&#39;s comfortable, spacious and lets people know you don&#39;t mind carrying around your personables with the mug of your favorite entertainer.]]></media:description><media:price>$169.95</media:price><media:thumbnail url=\"http://rlv.zcache.com/justneph_messenger_bag_computer_bag-r53e6c2d36ac64d40aa15b71a7175d704_vxzzv_8byvr_152.jpg\" /><media:content url=\"http://rlv.zcache.com/justneph_messenger_bag_computer_bag-r53e6c2d36ac64d40aa15b71a7175d704_vxzzv_8byvr_500.jpg\" /><media:keywords><![CDATA[justneph, bag, messenger-bag, youtube]]></media:keywords><media:rating scheme=\"urn:mpaa\">g</media:rating></item>\r\n\r\n<item><guid isPermaLink=\"false\">http://www.zazzle.com/justneph_dartboard-256896421184264879</guid><pubDate>Wed, 30 Jan 2013 06:09:00 GMT</pubDate><title><![CDATA[justNeph Dartboard]]></title><link>http://www.zazzle.com/justneph_dartboard-256896421184264879</link><author>justNeph</author><description><![CDATA[\r\n\r\n\r\n\r\n<div id=\"page_zWidget1\" class=\"dX dX-Grid gbb-Grid dX-152 clearfix\">\r\n\r\n\t\r\n\r\n\t<div  class=\"dX-realview gbb[...]
