= item.name
= link_to image_tag("#{item.image}", height: 150, width: 150), "#myModal", {"data-toggle" => "modal"}

%a.btn.btn-mini.hide{"data-toggle" => "modal", :href => "#myModal", :role => "button"} Change role

.modal#myModal{:style => "display: none;"}
  .modal-header
    %a.close{"data-dismiss" => "modal"} ×
    %h3 Change Role
  .modal-body
    123
  .modal-footer
    Close