html, body, div, span, object, iframe, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, var, fieldset, form, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, dialog, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  display: block; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

:focus {
  outline: none; }

::selection, ::-moz-selection {
  background: blue;
  color: white;
  text-shadow: none; }

html {
  height: 100%;
  overflow: auto;
  overflow-y: scroll; }

body {
  height: 100%;
  background: url(body-bg.gif) #efe8d3;
  font: 13px/1.55 Arial, "Helvetica Neue", "Liberation Sans", FreeSans, sans-serif;
  color: #333333; }

p {
  margin: 0 0 20px 0; }

img {
  display: block;
  vertical-align: text-bottom; }

a img {
  border: none; }

.ie7 img {
  display: inline; }

a:link, a:visited {
  outline: none;
  text-decoration: none; }
a:hover, a:active {
  text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px 0;
  font-weight: normal; }

h1 {
  font-size: 28px; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 22px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

ul, ol {
  margin: 20px 0;
  padding: 0; }

ul li, ol li {
  margin: 0 0 0 20px;
  padding: 0 0 0 20px; }

li ul, li ol {
  margin: 0;
  padding: 5px 0; }
li li {
  margin: 0; }

ul {
  list-style: disc inside; }

ol {
  list-style: decimal inside; }
  ol ol {
    list-style: upper-alpha inside; }
    ol ol ol {
      list-style: lower-roman inside; }
      ol ol ol ol {
        list-style: lower-alpha inside; }

dl {
  margin: 0 0 40px 0; }

dt {
  font-weight: bold; }

dd {
  margin-bottom: 20px; }

.circle-list li, .featured-list li, .arrow-list li, .check-list li, .ban-list li, .info-list li {
  list-style: none; }

.circle-list li {
  background: url(lists/list-circle.png) 0 0 no-repeat; }

.featured-list li {
  background: url(lists/list-featured.png) 0 0 no-repeat; }

.arrow-list li {
  background: url(lists/list-arrow.png) 0 0 no-repeat; }

.check-list li {
  background: url(lists/list-check.png) 0 0 no-repeat; }

.ban-list li {
  background: url(lists/list-ban.png) 0 0 no-repeat; }

.info-list li {
  background: url(lists/list-info.png) 0 0 no-repeat; }

abbr, acronym {
  border-bottom: 1px dashed;
  cursor: help; }

address, cite, em, i {
  font-style: italic; }

dfn {
  border-bottom: 1px dashed;
  font-style: italic; }

big {
  font-size: large; }

small, sub, sup {
  font-size: x-small;
  position: relative;
  vertical-align: baseline; }

sub {
  top: 5px; }

sup {
  bottom: 5px; }

strong, b {
  font-weight: 700; }

mark, .highlight {
  background: #fadc8b;
  padding: 2px;
  border-radius: 3px;
  display: inline; }

blockquote {
  margin: 20px 0;
  padding: 20px;
  overflow: hidden;
  background: #f2eee2; }
  blockquote p {
    font-size: 90%;
    line-height: 1.8;
    color: #595856;
    margin-bottom: 0 !important; }
  blockquote cite {
    font-size: 90%;
    color: #9f9b8e;
    display: block;
    text-align: right; }
  blockquote.align-left, blockquote.align-right {
    width: 35%; }
  blockquote.align-left {
    margin: 0 20px 20px 0; }
  blockquote.align-right {
    margin: 0 0 20px 20px; }

hr {
  background: url(hr-bg.png) top center no-repeat;
  border: 0;
  border-top: 1px solid #d2ccb9;
  clear: both;
  height: 10px;
  overflow: hidden;
  margin: 30px 0 30px 0; }

.ie7 hr {
  height: 1px;
  border-bottom: 1px solid #d2ccb9; }

pre, code, kbd, tt {
  font-family: "Courier New", Courier, monospace, serif;
  margin: 0 0 20px;
  clear: both; }

pre code {
  background: url(code.gif) 0 0 repeat-y;
  padding: 25px 20px 25px 40px;
  line-height: 25px;
  display: block;
  overflow: auto;
  overflow-Y: hidden; }

table {
  margin: 20px 0;
  width: 100%;
  border: 5px solid #9c9789;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left; }
  table caption {
    font-size: 85%; }
  table th {
    background: url(buttons.png) 0 -1200px;
    line-height: 40px;
    padding: 0 20px;
    color: white;
    text-shadow: 1px 1px 0 #333333;
    font-weight: normal;
    font-size: 120%;
    border-bottom: 1px solid #898474; }
  table:hover th {
    background-position: 0 -1250px; }

tbody tr.alt, tbody tr:nth-child(2n+1) {
  background: url(trans_bg_white.png); }
tbody tr:hover {
  background: #ded5b6; }
tbody td {
  padding: 7px 20px; }

table tfoot {
  background: url(buttons.png) 0 -1200px;
  line-height: 30px; }
  table tfoot td {
    padding: 0 20px;
    font-size: 85%;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 0 #333333; }

form {
  width: auto; }
  form p {
    position: relative; }

fieldset {
  border: 1px solid #ded5b6;
  padding: 20px;
  border-radius: 5px; }

legend {
  font-size: 120%;
  font-weight: normal; }

label {
  font-size: 110%;
  color: #333333;
  margin: 0 20px 0 0; }
  label .required {
    color: #9e1a00; }
  label.error {
    display: inline-block;
    width: auto !important;
    line-height: 26px !important;
    height: 26px;
    padding: 0 20px;
    color: white;
    text-shadow: 1px 1px 0 #333333;
    background: #9e1a00;
    font-size: 90%;
    position: absolute;
    left: 20px;
    bottom: -13px;
    opacity: 0.8;
    border-radius: 3px; }

input, select, textarea {
  padding: 10px;
  color: #5c5c5c;
  border: 1px solid #8d8777;
  border-bottom-color: white;
  border-right-color: white;
  background: #ded5b6;
  width: 60%;
  box-shadow: inset 1px 1px 0px #8d8777;
  border-radius: 5px; }

input:hover, textarea:hover, input:focus {
  background: #e7e0c9; }

textarea {
  width: 90%;
  overflow: auto; }
  textarea:focus {
    background: #e7e0c9; }

input[type=radio], input[type=checkbox] {
  width: auto; }
input[type=submit], input[type=reset], input[type=button], input.submit {
  padding: 10px 20px;
  background: url(buttons.png) 0 -1200px repeat-x;
  color: white;
  border: none;
  width: auto;
  cursor: pointer;
  outline: none;
  text-align: center;
  text-shadow: 1px 1px 0 #333333;
  box-shadow: none; }
input[type=submit]:hover, input[type=reset]:hover, input.submit:hover {
  background: url(buttons.png) 0 -1250px repeat-x; }

button:hover {
  background: url(buttons.png) 0 -1250px repeat-x; }

input[type="search"] {
  -webkit-appearance: textfield; }
input.error {
  border: 1px solid #bf2200;
  border-top: 1px solid #bf2200;
  border-left: 1px solid #bf2200;
  color: #9e1a00;
  background: #db9c83; }

select.error, textarea.error {
  border: 1px solid #bf2200;
  border-top: 1px solid #bf2200;
  border-left: 1px solid #bf2200;
  color: #9e1a00;
  background: #db9c83; }

input.error:hover, textarea.error:hover, input.error:focus, textarea.error:focus {
  background: #e9c8b5; }

.inline input, .inline select {
  padding: 5px;
  width: auto; }

.alt-form fieldset, .alt-widgets fieldset {
  border: 1px solid #222222; }

.alt-form legend, .alt-form label {
  color: white; }

.alt-widgets legend, .alt-widgets label {
  color: white; }

.alt-form input, .alt-form select, .alt-form textarea {
  color: #cccccc;
  border: none;
  background: url(trans_bg_black.png) transparent;
  box-shadow: inset 1px 1px 0px #111111; }

.alt-widgets input, .alt-widgets select, .alt-widgets textarea {
  color: #cccccc;
  border: none;
  background: url(trans_bg_black.png) transparent;
  box-shadow: inset 1px 1px 0px #111111; }

.alt-form input:hover, .alt-form input:focus {
  background: url(trans_bg_black_2.png) transparent; }
.alt-form select:hover, .alt-form select:focus {
  background: url(trans_bg_black_2.png) transparent; }
.alt-form textarea:hover, .alt-form textarea:focus {
  background: url(trans_bg_black_2.png) transparent; }

.alt-widgets input:hover, .alt-widgets input:focus {
  background: url(trans_bg_black_2.png) transparent; }
.alt-widgets select:hover, .alt-widgets select:focus {
  background: url(trans_bg_black_2.png) transparent; }
.alt-widgets textarea:hover, .alt-widgets textarea:focus {
  background: url(trans_bg_black_2.png) transparent; }

input[type=submit], input[type=reset], input[type=button], input.submit {
  background: url(buttons.png) 0 -1200px repeat-x;
  color: white;
  box-shadow: none;
  text-shadow: 1px 1px 0 #333333; }
input[type=submit]:hover, input[type=reset]:hover, input.submit:hover {
  background: url(buttons.png) 0 -1250px repeat-x; }

button:hover {
  background: url(buttons.png) 0 -1250px repeat-x; }

.alt-form input.error, .alt-form select.error, .alt-form textarea.error {
  background: #400f0f; }

.alt-widgets input.error, .alt-widgets select.error, .alt-widgets textarea.error {
  background: #400f0f; }

.alt-form input.error:hover {
  background: #531313; }
.alt-form textarea.error:hover, .alt-form textarea.error:focus {
  background: #531313; }

.alt-widgets input.error:hover {
  background: #531313; }
.alt-widgets textarea.error:hover, .alt-widgets textarea.error:focus {
  background: #531313; }

.content-box {
  background: url(trans_bg_white.png);
  position: relative;
  margin: 0 0 20px;
  padding: 20px;
  overflow: hidden;
  display: inline-block; }

.box-1 {
  border-top: 1px solid white;
  color: #333333;
  box-shadow: 0 0 3px #c0b692; }

.box-2 {
  background: url(trans_bg_black.png);
  border-bottom: 1px solid #767161;
  color: white;
  text-shadow: 1px 1px 0 #767161; }

.header-box {
  padding-top: 70px; }

.box-head {
  position: absolute;
  top: 0;
  left: 0;
  background: url(ribbons.png) 0 -150px no-repeat;
  height: 60px;
  width: 374px;
  text-indent: 20px;
  color: white !important;
  font-size: 130% !important;
  line-height: 60px;
  margin: 0;
  padding: 0;
  text-shadow: 1px 1px 0 #333333; }

.box-2 .box-head {
  background-position: 0 -210px; }

.box-info, .box-success, .box-warning, .box-error {
  background: url(diag_line.png) !important;
  overflow: hidden; }

.box-content {
  margin: 5px;
  background: url(trans_bg_white.png);
  overflow: hidden;
  padding: 20px;
  color: #333333;
  text-shadow: 1px 1px 0 white; }
  .box-content *:last-child {
    margin-bottom: 0; }

.box-info {
  background-color: #8cc5e2 !important; }

.box-success {
  background-color: #a1c590 !important; }

.box-warning {
  background-color: #f2da7c !important; }

.box-error {
  background-color: #e6987c !important; }

.btn, .btn-s, .btn-l, .btn-xl {
  width: auto;
  display: inline-block;
  cursor: pointer;
  color: white !important;
  background: url(buttons.png) 0 -1200px repeat-x;
  border-radius: 4px;
  text-shadow: 0 -1px 0 #333333; }

.btn:hover, .btn-s:hover, .btn-l:hover, .btn-xl:hover {
  background-position: 0 -1250px;
  color: white; }

.btn {
  line-height: 30px;
  padding: 0 15px;
  font-size: 100%; }

.btn-s {
  line-height: 25px;
  padding: 0 10px;
  font-size: 90%;
  text-shadow: none; }

.btn-l {
  line-height: 40px;
  padding: 0 20px;
  font-size: 120%; }

.btn-xl {
  line-height: 50px;
  padding: 0 25px;
  font-size: 150%; }

.maroon {
  background-position: 0 -100px !important; }
  .maroon:hover {
    background-position: 0 -150px !important; }

.ponceau {
  background-position: 0 -200px !important; }
  .ponceau:hover {
    background-position: 0 -250px !important; }

.orange {
  background-position: 0 -300px !important; }
  .orange:hover {
    background-position: 0 -350px !important; }

.gamboge {
  background-position: 0 -400px !important; }
  .gamboge:hover {
    background-position: 0 -450px !important; }

.lemon {
  background-position: 0 -500px !important; }
  .lemon:hover {
    background-position: 0 -550px !important; }

.olive {
  background-position: 0 -600px !important; }
  .olive:hover {
    background-position: 0 -650px !important; }

.teal {
  background-position: 0 -700px !important; }
  .teal:hover {
    background-position: 0 -750px !important; }

.cerulean {
  background-position: 0 -800px !important; }
  .cerulean:hover {
    background-position: 0 -850px !important; }

.denim {
  background-position: 0 -900px !important; }
  .denim:hover {
    background-position: 0 -950px !important; }

.brown {
  background-position: 0 -1000px !important; }
  .brown:hover {
    background-position: 0 -1050px !important; }

.sepia {
  background-position: 0 -1100px !important; }
  .sepia:hover {
    background-position: 0 -1150px !important; }

.tabs-block {
  margin-bottom: 20px;
  background: url(trans_bg_black.png);
  padding: 5px;
  border-radius: 3px; }

.tabs-controller {
  margin: 0;
  padding: 0; }
  .tabs-controller li {
    float: left;
    list-style: none;
    background: #333333;
    margin: 0 5px 0 0;
    padding: 0;
    line-height: 30px;
    text-shadow: 1px 1px 0 #333333;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .tabs-controller li.active {
      background: #eae3ce;
      text-shadow: 1px 1px 0 white; }

.tabs-block .tabs-controller li a {
  padding: 0 10px;
  color: white; }

.tabs-controller li.active a {
  color: #333333; }

.tabs-content {
  clear: both;
  background: #eae3ce;
  overflow: hidden;
  padding: 10px; }
  .tabs-content *:last-child {
    margin-bottom: 0; }

.toggle-block, .accordion-block {
  margin-bottom: 20px;
  clear: both;
  padding: 5px;
  background: url(trans_bg_black.png);
  border-radius: 3px; }

.toggle-trigger, .accordion-trigger {
  background: url(buttons.png) 0 -1200px repeat-x;
  display: block;
  padding: 0;
  font-size: 110%;
  border-radius: 3px; }

.toggle-trigger:hover, .accordion-trigger:hover {
  background-position: 0 -1250px; }

.toggle-trigger a, .accordion-trigger a {
  display: block;
  padding: 0 20px 0 30px;
  color: white !important;
  height: 40px;
  line-height: 40px;
  text-shadow: 1px 1px 0 #333333;
  background: url(controls-sprite.png) 10px -80px no-repeat; }

.toggle-trigger.active a, .accordion-trigger.active a {
  background: url(controls-sprite.png) 10px -120px no-repeat; }

.toggle-content, .accordion-content {
  background: url(trans_bg_white.png);
  padding: 20px; }

.toggle-content :last-child, .accordion-content :last-child {
  margin-bottom: 0; }

.accordion-trigger, .accordion-content {
  margin-bottom: 5px; }

.accordion-trigger.active, .accordion-trigger:last-child {
  margin-bottom: 0 !important; }

.accordion-content:last-child {
  margin-bottom: 0 !important; }

.video-box {
  margin-bottom: 20px; }

.gallery-block {
  background: url(trans_bg_white.png);
  margin-bottom: 20px;
  display: inline-block;
  position: relative; }

.gallery-inner {
  margin: 5px;
  overflow: hidden;
  display: block; }
  .gallery-inner img {
    position: absolute;
    top: 0px;
    left: 0px;
    display: none !important; }
  .gallery-inner a {
    display: block; }

#pager {
  width: 100%;
  clear: both;
  float: none;
  text-align: center;
  font-size: 90%;
  font-weight: bold;
  margin: 20px 0;
  overflow: hidden;
  position: relative; }
  #pager ul {
    margin: 0;
    display: inline-block; }

.ie7 #pager ul {
  display: inline; }

#pager li, #pager a, #pager span {
  display: block; }

.ie7 #pager li, .ie7 #pager a, .ie7 #pager span {
  position: relative;
  top: 4px; }

#pager li {
  float: left;
  list-style: none;
  margin: 5px 5px 0 0;
  padding: 0;
  background: white;
  width: 28px;
  height: 28px;
  border: 1px solid #cccccc;
  border-radius: 15px; }
  #pager li a {
    background: #333333;
    margin: 4px;
    color: white;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-shadow: 1px 1px 0 #333333;
    border-radius: 10px; }
  #pager li.pager-current {
    width: 40px;
    height: 40px;
    margin-top: 0;
    border-radius: 20px; }
    #pager li.pager-current span {
      text-shadow: 1px 1px 0 #333333;
      margin: 5px;
      width: 30px;
      height: 30px;
      line-height: 30px;
      color: white;
      border-radius: 15px; }
  #pager li.pager-first, #pager li.pager-last {
    background: none !important;
    font-weight: normal;
    width: auto;
    border: none;
    color: #333333; }
    #pager li.pager-first a, #pager li.pager-last a {
      background: none !important;
      font-weight: normal;
      width: auto;
      border: none;
      color: #333333; }
  #pager li.pager-first a, #pager li.pager-last a {
    text-shadow: 1px 1px 0 white;
    font-size: 110%; }
  #pager li.pager-first a:hover, #pager li.pager-last a:hover {
    color: white;
    text-shadow: 1px 1px 0 #333333; }

.social a, .social-dark a {
  display: block;
  float: left;
  width: 20px;
  height: 20px;
  margin: 5px;
  text-indent: -99999px;
  background: url(social_icons.png) no-repeat;
  opacity: 0.5; }

.social a:hover, .social-dark a:hover {
  opacity: 1; }

a.twitter-icon {
  background-position: 0 -20px; }
a.facebook-icon {
  background-position: 0 0; }
a.linkedin-icon {
  background-position: 0 -40px; }
a.myspace-icon {
  background-position: 0 -60px; }
a.youtube-icon {
  background-position: 0 -80px; }
a.flikr-icon {
  background-position: 0 -100px; }
a.rss-icon {
  background-position: 0 -120px; }

.social-dark a.twitter-icon {
  background-position: -20px -20px; }
.social-dark a.facebook-icon {
  background-position: -20px 0; }
.social-dark a.linkedin-icon {
  background-position: -20px -40px; }
.social-dark a.myspace-icon {
  background-position: -20px -60px; }
.social-dark a.youtube-icon {
  background-position: -20px -80px; }
.social-dark a.flikr-icon {
  background-position: -20px -100px; }
.social-dark a.rss-icon {
  background-position: -20px -120px; }

.nivo-caption {
  padding: 20px;
  text-shadow: 1px 1px 0 #333333;
  opacity: 0.6; }

.nivo-directionNav a {
  position: absolute;
  top: 45%;
  z-index: 99;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: block;
  text-indent: -99999px;
  background: url(controls-sprite.png) no-repeat; }

.nivo-prevNav {
  left: 10px !important;
  background-position: 0 -30px !important; }
  .nivo-prevNav:hover {
    background-position: -30px -30px !important; }

.nivo-nextNav {
  right: 10px !important;
  background-position: 0 0 !important; }
  .nivo-nextNav:hover {
    background-position: -30px 0 !important; }

.nivo-controlNav {
  position: absolute;
  bottom: 10px;
  left: 45%; }
  .nivo-controlNav a {
    position: relative;
    z-index: 99;
    cursor: pointer;
    display: block;
    width: 15px;
    height: 15px;
    text-indent: -9999px;
    background: url(controls-sprite.png) 0 -60px no-repeat;
    float: left;
    margin: 0 5px; }
    .nivo-controlNav a:hover {
      background-position: -15px -60px; }
    .nivo-controlNav a.active {
      font-weight: bold;
      background-position: -30px -60px; }
      .nivo-controlNav a.active:hover {
        background-position: -45px -60px; }

.layout-1-2, .layout-1-3, .layout-1-4, .layout-1-5, .layout-1-6, .layout-2-6, .layout-4-6, .layout-5-6 {
  float: left;
  margin: 0 5% 20px 0;
  padding: 0; }

.layout-1-1 {
  width: 100%; }

.layout-1-2 {
  width: 47.5%; }

.ie7 .layout-1-2 {
  width: 47%; }

.layout-1-3, .layout-2-6 {
  width: 30%; }

.layout-1-4 {
  width: 21.25%; }

.ie7 .layout-1-4 {
  width: 21%; }

.layout-1-5 {
  width: 16%; }

.layout-1-6 {
  width: 12.5%; }

.ie7 .layout-1-6 {
  width: 12%; }

.layout-4-6 {
  width: 65%; }

.layout-5-6 {
  width: 82.5%; }

.ie7 .layout-5-6 {
  width: 82%; }

.layout-last, .layout-1-1 {
  margin-right: 0 !important; }

.align-left {
  float: left;
  margin: 0 20px 20px 0;
  overflow: hidden; }

.align-right {
  float: right;
  margin: 0 0 20px 20px;
  overflow: hidden; }

.align-center {
  display: block;
  margin: 20px auto;
  float: none;
  clear: both;
  text-align: center; }
  .align-center * {
    margin: 0 auto;
    text-align: center; }

.round-3 {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

.round-5 {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.round-10 {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }

.img-holder {
  background: url(trans_bg_white.png);
  display: inline-block;
  padding: 0 !important; }
  .img-holder:hover {
    background: url(trans_bg_black.png); }
  .img-holder > * {
    margin: 5px; }
  .img-holder .caption {
    font-size: 85%;
    font-style: italic;
    display: block;
    margin: 5px;
    text-align: center; }
  .img-holder:hover .caption {
    color: white;
    text-shadow: 1px 1px 0 #333333; }

.prettyPhoto {
  position: relative; }

.zoom-frame {
  display: none;
  margin: 0;
  opacity: 0.5;
  background: url(zoom-icon.png) center center no-repeat black;
  position: absolute;
  top: 5px;
  left: 5px; }

.font-3 {
  font-style: normal; }

.drop-cap:first-letter {
  display: block;
  float: left;
  font-size: 300%;
  font-weight: bold;
  line-height: 30px;
  margin: 5px 10px 0 0; }

.color-maroon {
  color: #861600 !important; }

.color-ponceau {
  color: #c7252a !important; }

.color-orange {
  color: #c84a20 !important; }

.color-gamboge {
  color: #ca6a29 !important; }

.color-lemon {
  color: #dcaf48 !important; }

.color-olive {
  color: #7a9671 !important; }

.color-teal {
  color: #008390 !important; }

.color-cerulean {
  color: #007491 !important; }

.color-denim {
  color: #005166 !important; }

.color-brown {
  color: #885a00 !important; }

.color-sepia {
  color: #5e3d00 !important; }

.small {
  font-size: 85% !important; }

.x-small {
  font-size: 70% !important; }

.large {
  font-size: 115% !important; }

.x-large {
  font-size: 125% !important; }

.ribbon-header {
  background: url(ribbons.png) 0 -90px no-repeat;
  background-color: inherit;
  line-height: 60px;
  text-align: left;
  clear: both;
  text-indent: 20px;
  color: white !important;
  text-shadow: 1px 1px 0 #333333;
  font-size: 130%;
  margin: 20px 0 10px 0; }

.underlined-header {
  border-bottom: 1px dashed #a5a092; }

#jsnotice {
  display: none;
  background: white;
  color: #333333;
  padding: 20px;
  font: 15px Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
  font-style: italic;
  text-align: center; }

.no-js #jsnotice {
  display: block; }

#page-header {
  margin: 0 0 60px 0;
  text-align: center; }

.ie7 #page-header {
  zoom: 1; }

#page-header h1 {
  height: 78px;
  line-height: 90px;
  margin: 0;
  font-size: 250%;
  text-shadow: 0 -1px 1px black;
  background: url(logo-bg.png) center 20px no-repeat; }
  #page-header h1.graphic-logo {
    background: none; }
    #page-header h1.graphic-logo a {
      display: block;
      height: 78px;
      text-indent: -99999px;
      background: url(logo.png) bottom center no-repeat; }
#page-header h2 {
  line-height: 60px;
  height: 60px;
  font-size: 125%;
  text-shadow: 0 -1px 1px black; }

.navigation-wrapper {
  background: url(navigation_wrapper.png) bottom repeat-x;
  background: url(navigation_wrapper.png) bottom repeat-x, url(navigation_wrapper.png) top repeat-x;
  height: 60px;
  padding-top: 3px; }

.ie7 .navigation-wrapper, .ie8 .navigation-wrapper {
  background: url(navigation_wrapper.png) bottom repeat-x; }

#header-navigation {
  background: url(navigation_bg.png) top repeat-x #333333;
  height: 45px;
  text-align: center;
  position: relative;
  z-index: 1000; }
  #header-navigation ul {
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    z-index: 9999; }

.ie7 #header-navigation ul {
  display: inline; }

#header-navigation li {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  position: relative;
  background: url(navigation.png) right top no-repeat; }
  #header-navigation li.last {
    background: none !important; }
#header-navigation > li.last a {
  margin-right: 30px; }
#header-navigation a {
  margin: 0 40px 0 30px;
  line-height: 40px;
  font-weight: bolder;
  text-transform: uppercase;
  line-height: 45px;
  color: white;
  text-shadow: 1px 1px 0 black; }
#header-navigation ul ul {
  background: url(navigation.png) 0 -430px no-repeat;
  width: 250px;
  position: absolute;
  top: 45px;
  left: 10px;
  visibility: hidden;
  padding: 8px 0 0 0;
  opacity: 0.9;
  z-index: 9999; }
#header-navigation ul li:hover > ul {
  visibility: visible; }
#header-navigation ul ul li {
  clear: both;
  background: #333333 !important;
  width: 100%;
  position: relative; }
  #header-navigation ul ul li.last {
    clear: both;
    background: #333333 !important;
    width: 100%;
    position: relative; }
  #header-navigation ul ul li:hover {
    background: #222222; }
#header-navigation ul ul a {
  margin: 0 !important;
  font-size: 90%;
  line-height: 130%;
  text-transform: none;
  text-shadow: -1px -1px 0 black;
  font-weight: normal;
  display: block;
  text-align: left;
  border-bottom: 1px solid #222222;
  border-top: 1px solid #3c3c3c;
  height: auto;
  padding: 10px 20px; }
#header-navigation ul ul > li:first-child a {
  border-top: none; }
#header-navigation ul ul ul {
  position: absolute;
  left: 250px !important;
  top: -1px;
  background: url(navigation.png) left -85px no-repeat;
  padding: 0;
  z-index: 9999; }
  #header-navigation ul ul ul li {
    margin: 0 0 0 7px !important; }

a.with-subnav {
  background: url(navigation.png) right -45px no-repeat; }

#page-title {
  background: url(ribbons.png) top left no-repeat;
  overflow: hidden;
  margin: 0 auto 40px auto;
  max-width: 1010px;
  z-index: 1; }
  #page-title .grid_8, #page-title .grid_4 {
    line-height: 55px;
    height: 55px; }
  #page-title h2, #page-title h3 {
    color: white;
    float: left;
    margin: 0;
    clear: none;
    text-shadow: 1px 1px 0 #333333; }
  #page-title h2 {
    margin: 0 20px;
    padding: 0 20px 0 0;
    background: url(page_title_separator.png) right center no-repeat;
    font-size: 170%; }
  #page-title h3 {
    font-size: 120%; }

#title-search form {
  float: right;
  margin: 0 20px 0 0;
  position: relative; }
#title-search label {
  display: none; }
#title-search input {
  border: none;
  margin: 0;
  line-height: 20px !important;
  height: 20px;
  padding: 5px;
  overflow: hidden;
  width: 180px; }
  #title-search input[type=submit] {
    border: none;
    margin: 0;
    padding: 5px 10px !important;
    height: 30px;
    background-position: 0 0px;
    width: 60px;
    position: absolute;
    top: 13px;
    right: 1px; }
    #title-search input[type=submit]:hover {
      background-position: 0 -50px; }

#breadcrumbs {
  background: url(lists/list-featured.png) left -2px no-repeat;
  margin: 5px 0 0 30px;
  padding: 0 0 0 20px;
  font-size: 90%;
  text-shadow: 1px 1px 0 white; }

.sidebar {
  z-index: 1; }

.sidebar-left .widget-container {
  padding: 0 20px 0 0; }

#bottom-widgets {
  overflow: hidden;
  margin: 60px auto 0 auto;
  padding: 40px 0; }

#page-footer {
  line-height: 70px;
  font-size: 90%;
  overflow: hidden;
  text-shadow: 1px 1px 0 #f5f2e8; }
  #page-footer p {
    margin: 0; }

.footer-navigation ul {
  margin: 0;
  padding: 0;
  float: right;
  display: inline-block; }
.footer-navigation li {
  list-style: none;
  background: none;
  margin: 0 20px 0 0;
  float: left; }

.page-content {
  text-shadow: 1px 1px 0 #f5f2e8; }
  .page-content section {
    margin-bottom: 40px; }

.page-sidebar-left .page-content {
  float: right; }
  .page-sidebar-left .page-content > * {
    margin-left: 20px; }

.page-sidebar-right .page-content > * {
  margin-right: 20px; }

.page-frontpage section {
  margin-bottom: 0; }
.page-frontpage .navigation-wrapper {
  height: 500px;
  background: url(navigation_wrapper.png) bottom repeat-x;
  background: url(slider-bg.png) top repeat-x, url(navigation_wrapper.png) bottom repeat-x, url(navigation_wrapper.png) top repeat-x; }

.page-frontpage-static .navigation-wrapper {
  background: url(navigation_wrapper.png) bottom repeat-x;
  background: url(slider-bg.png) 0 -520px repeat-x, url(navigation_wrapper.png) bottom repeat-x, url(navigation_wrapper.png) top repeat-x; }

.slider-wrapper {
  position: absolute;
  top: 250px;
  left: 0;
  width: 100%;
  height: 400px;
  text-align: center;
  clear: both; }

.slider-content {
  width: 940px;
  height: 360px;
  margin: 0 auto;
  padding: 0;
  position: relative; }

.nivo-caption p, .nivo-caption h2, .nivo-caption h3 {
  color: #efe8d3 !important;
  text-align: left;
  margin: 0 0 10px 0;
  text-shadow: 0 -1px 0 black; }

.slide_caption p, .slide_caption h2, .slide_caption h3 {
  color: #efe8d3 !important;
  text-align: left;
  margin: 0 0 10px 0;
  text-shadow: 0 -1px 0 black; }

.slider-nivo {
  background: url(frames.png) top center no-repeat; }
  .slider-nivo .nivo-controlNav {
    top: 400px; }
  .slider-nivo .nivo-caption {
    width: 900px;
    background: url(trans_bg_black_2.png); }
  .slider-nivo .slider-content img {
    position: absolute;
    top: 0px;
    left: 0px;
    display: none !important; }

.slider-3d .slider-content {
  top: -20px;
  width: 1000px; }

.slider-kwicks {
  background: url(frames.png) top center no-repeat; }
  .slider-kwicks .slider-content {
    list-style: none;
    overflow: hidden; }
  .slider-kwicks li {
    display: block;
    width: 235px;
    height: 360px;
    padding: 0;
    margin: 0;
    position: relative;
    overflow: hidden;
    z-index: 200;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.6); }
  .slider-kwicks .slide_img {
    position: absolute;
    top: 0;
    left: 0; }
  .slider-kwicks .slide_caption {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 20px;
    width: 940px;
    background: url(trans_bg_black_2.png); }
    .slider-kwicks .slide_caption * {
      margin-right: 200px; }

.slider-carousel {
  height: 140px; }
  .slider-carousel li {
    margin: 0;
    padding: 0;
    list-style: none; }
  .slider-carousel .jcarousel-container {
    width: 940px;
    margin: 0 auto;
    display: block; }
  .slider-carousel .jcarousel-clip-horizontal {
    width: 910px;
    height: 150px;
    margin: 0 auto;
    overflow: hidden; }
  .slider-carousel .jcarousel-item {
    margin-left: 0;
    margin-right: 10px; }
    .slider-carousel .jcarousel-item a {
      width: 220px;
      height: 140px;
      display: block;
      background: url(trans_bg_black.png);
      border-radius: 5px;
      overflow: hidden; }
      .slider-carousel .jcarousel-item a img {
        margin: 5px; }

.slider-static {
  height: auto;
  overflow: hidden; }
  .slider-static .slider-content {
    width: 960px;
    height: auto;
    margin-bottom: 50px;
    overflow: hidden; }

.slider-carousel .jcarousel-next-horizontal {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  right: -20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: url(controls-sprite.png) 0 0 no-repeat; }
  .slider-carousel .jcarousel-next-horizontal:hover {
    background-position: -30px 0; }
  .slider-carousel .jcarousel-next-horizontal:active {
    background-position: 0 0; }
.slider-carousel .jcarousel-next-disabled-horizontal {
  cursor: default;
  background-position: -60px 0; }
  .slider-carousel .jcarousel-next-disabled-horizontal:hover, .slider-carousel .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -60px 0; }
.slider-carousel .jcarousel-prev-horizontal {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  left: -20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: url(controls-sprite.png) 0 -30px no-repeat; }
  .slider-carousel .jcarousel-prev-horizontal:hover {
    background-position: -30px -30px; }
  .slider-carousel .jcarousel-prev-horizontal:active {
    background-position: 0 -30px; }
.slider-carousel .jcarousel-prev-disabled-horizontal {
  cursor: default;
  background-position: 0 -30px;
  cursor: default;
  background-position: -60px 0; }
  .slider-carousel .jcarousel-prev-disabled-horizontal:hover, .slider-carousel .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: 0 -30px; }
  .slider-carousel .jcarousel-prev-disabled-horizontal:hover, .slider-carousel .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -60px 0; }

.motivation-message {
  margin-bottom: 50px;
  background: url(trans_bg_white.png);
  border-top: 1px solid white;
  box-shadow: 0 0 3px #c0b692;
  font-size: 125%; }
  .motivation-message p {
    float: left;
    margin: 20px;
    width: 70%; }
  .motivation-message a.motivation-button {
    float: right;
    margin: 20px; }

#front-features {
  margin-bottom: 30px; }

.team-member {
  position: relative;
  margin-bottom: 40px;
  overflow: hidden;
  clear: both; }

.team-member-info {
  margin-left: 160px; }

.team-member-header {
  border-bottom: 1px dashed #bbb6a5;
  margin-bottom: 10px;
  padding-bottom: 5px; }

.team-member-name {
  margin: 0;
  font-size: 140%; }

.team-member-img {
  display: block;
  width: 140px;
  height: 140px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  -moz-border-radius: 70px;
  border-radius: 70px;
  z-index: 1; }
  .team-member-img img {
    margin: 5px;
    display: block;
    overflow: hidden;
    -moz-border-radius: 70px;
    border-radius: 70px;
    z-index: 2; }

.ie7 .team-member-img img, .ie8 .team-member-img img {
  margin: 0; }

.header-404 {
  margin-bottom: 40px;
  position: relative;
  height: 200px;
  text-align: center; }

.page-content .header-404 h2 {
  font-size: 550%;
  margin: 0;
  color: #333333;
  line-height: 1; }
.page-content .header-404 h3 {
  width: 1010px;
  height: 62px;
  line-height: 50px;
  background: url(ribbons.png) top center no-repeat;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 0 #333333;
  margin: 20px auto; }

.portfolio-item {
  overflow: hidden;
  margin-bottom: 50px; }
  .portfolio-item h2 {
    margin: 0; }

.portfolio-image {
  display: block;
  overflow: hidden;
  background: url(frames.png) no-repeat;
  margin: 0; }

.portfolio-image-inner {
  margin: 5px !important;
  overflow: hidden;
  display: block;
  background: url(loading.gif) 50% 50% no-repeat; }

.portfolio_0 {
  text-align: center; }
  .portfolio_0 .portfolio-image {
    width: 600px;
    height: 315px;
    background-position: 0 -420px !important;
    float: left; }
  .portfolio_0 .portfolio-image-inner {
    width: 590px;
    height: 290px; }
    .portfolio_0 .portfolio-image-inner img {
      width: 590px; }

.portfolio_1 {
  text-align: left; }
  .portfolio_1 .portfolio-image {
    width: 600px;
    height: 315px;
    background-position: 0 -420px !important;
    float: left;
    margin-right: 30px; }
  .portfolio_1 .portfolio-image-inner {
    width: 590px;
    height: 290px; }
    .portfolio_1 .portfolio-image-inner img {
      width: 590px; }
  .portfolio_1 h2 {
    clear: none;
    margin-bottom: 20px; }
  .portfolio_1 .btn {
    margin-top: 20px; }

.portfolio_2 {
  text-align: center; }
  .portfolio_2 .portfolio-image {
    width: 470px;
    height: 265px;
    background-position: 0 -750px;
    text-align: left; }
  .portfolio_2 .portfolio-image-inner {
    width: 450px;
    height: 240px; }
    .portfolio_2 .portfolio-image-inner img {
      width: 450px; }

.portfolio_3 {
  text-align: center; }
  .portfolio_3 .portfolio-image {
    width: 300px;
    height: 185px;
    background-position: 0 -1030px;
    text-align: left; }
  .portfolio_3 .portfolio-image-inner {
    width: 290px;
    height: 160px; }
    .portfolio_3 .portfolio-image-inner img {
      width: 290px; }

.portfolio_4 {
  text-align: center; }
  .portfolio_4 .portfolio-image {
    width: 230px;
    height: 155px;
    background-position: 0 -1230px;
    text-align: left; }
  .portfolio_4 .portfolio-image-inner {
    width: 210px;
    height: 130px; }
    .portfolio_4 .portfolio-image-inner img {
      width: 220px; }

.gallery-item {
  margin-bottom: 50px; }

.gallery-image {
  width: 230px;
  height: 155px;
  background: url(frames.png) no-repeat 0 -1230px;
  display: block;
  overflow: hidden;
  margin: 0; }

.gallery-image-inner {
  width: 210px;
  height: 130px;
  margin: 5px !important;
  overflow: hidden;
  display: block;
  background: url(loading.gif) 50% 50% no-repeat; }
  .gallery-image-inner img {
    width: 220px; }

.postlist-item {
  margin: 0 20px 70px 0;
  position: relative;
  text-align: center; }

.postlist-header {
  margin-bottom: 20px; }
  .postlist-header h2 {
    margin: 0; }
  .postlist-header p {
    border: 1px dashed #d5caa8;
    border-left: none;
    border-right: none;
    line-height: 30px;
    font-size: 90%; }
  .postlist-header time {
    display: inline; }

.postlist-thumb {
  margin-bottom: 20px; }

.postlist-intro {
  margin: 20px 0 30px 0; }

.postlist-footer {
  text-align: center;
  background: #f5f2e9;
  border-top: 1px solid #d5caa8;
  height: 1px;
  position: relative; }
  .postlist-footer div {
    background: url(body-bg.gif);
    display: inline-block;
    position: absolute;
    top: -12px;
    left: 50%;
    width: 240px;
    margin-left: -120px; }
    .postlist-footer div a {
      color: white; }

.post-content {
  margin-bottom: 40px; }

.post-content-header {
  margin: 0 0 40px 0;
  text-align: center; }
  .post-content-header h2 {
    margin: 0; }
  .post-content-header p {
    border: 1px dashed #d5caa8;
    border-left: none;
    border-right: none;
    line-height: 30px;
    font-size: 90%; }
  .post-content-header time {
    display: inline; }

.post-content-footer {
  line-height: 30px;
  background: url(trans_bg_white.png);
  overflow: hidden; }

.post-content-tags {
  float: left;
  font-size: 90%;
  line-height: 30px;
  margin: 0 0 0 10px; }
  .post-content-tags span {
    margin-right: 10px; }

.post-social-icons {
  float: right; }

.post-author {
  margin: 0 0 50px 0; }
  .post-author:hover .post-author-image {
    background: url(trans_bg_black.png); }

.post-author-image {
  float: left;
  background: url(trans_bg_white.png);
  display: block;
  position: absolute;
  top: 70px;
  left: 20px; }
  .post-author-image img {
    margin: 5px; }

.post-author-content {
  float: left;
  margin-left: 100px; }

.post-author-url {
  margin: 0;
  font-size: 90%; }
  .post-author-url span {
    margin: 0 10px 0 0; }

.post-relative {
  margin-bottom: 50px;
  overflow: hidden; }
  .post-relative ul {
    margin: 0;
    padding: 0; }
  .post-relative li {
    margin: 0 0 20px 0;
    padding: 0;
    list-style: none;
    background: none !important;
    clear: both;
    overflow: hidden; }
    .post-relative li:last-child {
      margin: 0; }
    .post-relative li:hover .post-relative-image {
      background: url(trans_bg_black.png); }

.post-relative-image {
  float: left;
  margin-right: 20px; }
  .post-relative-image img {
    margin: 5px; }

.post-relative h3 {
  margin: 0 0 20px 0;
  clear: none;
  font-size: 130%; }

.comments section {
  margin-bottom: 0; }
.comments ul {
  margin: 0;
  padding: 0; }

ul.comments-list {
  margin-bottom: 50px; }

.comments li {
  margin: 0;
  padding: 0;
  list-style: none;
  background: none !important; }
  .comments li li {
    margin-left: 40px; }

.comment-item {
  margin-bottom: 30px;
  overflow: hidden;
  position: relative; }

.comment-content {
  margin-left: 100px;
  background: url(trans_bg_white.png);
  padding: 10px 20px; }

.comment-header {
  margin: 0 0 10px -30px;
  padding-left: 30px;
  background: url(controls-sprite.png) 0 -160px no-repeat;
  line-height: 20px; }
  .comment-header h3, .comment-header time {
    margin: 0;
    display: inline; }
  .comment-header h3 {
    font-size: 120%; }
  .comment-header time {
    font-size: 90%;
    float: right;
    visibility: hidden; }

.comment-item:hover time {
  visibility: visible; }

.comment-side {
  width: 90px;
  margin-left: 0px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0; }

a.comment-avatar {
  background: url(trans_bg_white.png);
  display: inline-block;
  margin-bottom: 10px; }

.comment-item:hover a.comment-avatar {
  background: url(trans_bg_black.png); }

a.comment-avatar img {
  margin: 5px; }
a.comment-reply {
  text-align: center;
  width: 50px; }

.comment-form {
  clear: both; }
  .comment-form label {
    float: right;
    text-align: left;
    width: 30%;
    line-height: 40px; }

#contact-form label {
  float: right;
  text-align: left;
  width: 30%;
  line-height: 40px; }
