/* FONTS SETTINTGS -------------------------------------------------------------
----------------------------------------------------------------------------- */
@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);


.font-1 {font-family: 'Yanone Kaffeesatz', arial, serif!Important;}

.font-2,#site-name,#site-slogan,#title-text,.widget-heading,.ppt,.page-content h1,.page-content h2,.page-content h3,.page-content h4,.page-content h5,.page-content h6,.slider-wrapper h1,.slider-wrapper h2,.slider-wrapper h3,.slider-wrapper h4{
    font-family: 'Lobster', arial, serif!Important;
    font-style: normal;
}

.font-3,#breadcrumbs,#page-footer,.box-head,table th,blockquote,label.error,.tabs-controller,.toggle-trigger,.accordion-trigger,.img-holder .caption,.pp_description,.nivo-caption,.postlist-header p,.post-content-header p,.post-content-tags,.post-author-url,.comment-created,li.pager-first a,li.pager-last a,.widget-calendar caption,.widget-recent-posts time,.tweet-time,.widget-last-tweet .widget-content,.btn,.btn-s,.btn-l,.btn-xl,input,legend,label,input.submit,input[type=submit],input[type=reset],input[type=button],textarea
{
    font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif!Important;
    font-style: italic;
    font-size: 90%;
}



/* COLORS SETTINGS -------------------------------------------------------------
----------------------------------------------------------------------------- */
#page-header {background: url(../images/backgrounds/1.png) #222;}

#bottom-widgets {
    background: url(../images/backgrounds/1.png) center top #222;
    background: url(../images/bottom_widgets.png) top repeat-x,
                url(../images/bottom_widgets.png) bottom repeat-x,
                url(../images/backgrounds/1.png) center top #222;
}

/* Background Color
----------------------------------------------------------------------------- */
#page-header .navigation-wrapper,#page-header .page-frontpage .navigation-wrapper,#header-navigation li,#page-title,#breadcrumbs,.ribbon-header,.box-head,.page-content .header-404 h3.ribbon-404,.toggle-trigger,.accordion-trigger,#pager li:hover a,.pager-current span,table th,table tfoot,.circle-list li,.featured-list li,.arrow-list li,.check-list li,.ban-list li,.info-list li,.btn,.btn-s,.btn-l,.btn-xl,input[type=submit],input[type=reset],input[type=button],input.submit,input[type=submit]:hover,input[type=reset]:hover,input.submit:hover,button:hover
{
    background-color: #cc2c08;
}

/* Text color
----------------------------------------------------------------------------- */
.comment-header .comment-created,.widget-contacts-info span,.widget-recent-posts time,.tweet-time,.widget-content li:hover a,h1,h2,h3,h4,h5,h6
{
    color: #AB391F;
}

/* Links
----------------------------------------------------------------------------- */
a,a:visited
{
    color: #AB391F;
}

/* Links hover, active
----------------------------------------------------------------------------- */
a:hover,a:active,#header-navigation a:hover
{
    color: #652112;
}

/* Elements styles
----------------------------------------------------------------------------- */
#page-header h1 a
{
    color: #fff;
}

#page-header h2
{
    color: #fff;
}


/* SKINS -----------------------------------------------------------------------
----------------------------------------------------------------------------- */

/* Skin 1
----------------------------------------------------------------------------- */
.skin-1 #page-header {background: url(../images/backgrounds/skin-1.jpg) #313439;}

.skin-1 #bottom-widgets {
    background: url(../images/backgrounds/skin-1.jpg) #313439;
    background: url(../images/bottom_widgets.png) top repeat-x,
                url(../images/bottom_widgets.png) bottom repeat-x,
                url(../images/backgrounds/skin-1.jpg) #313439;
}

.skin-1 #page-header .navigation-wrapper,.skin-1 #header-navigation li,.skin-1 #page-title,.skin-1 #breadcrumbs,.skin-1 .ribbon-header,.skin-1 .box-head,.skin-1 .page-content .header-404 h3.ribbon-404,.skin-1 .toggle-trigger,.skin-1 .accordion-trigger,.skin-1 #pager li:hover a,.skin-1 .pager-current span,.skin-1 table th,.skin-1 table tfoot,.skin-1 .circle-list li,.skin-1 .featured-list li,.skin-1 .arrow-list li,.skin-1 .check-list li,.skin-1 .ban-list li,.skin-1 .info-list li,.skin-1 .btn,.skin-1 .btn-s,.skin-1 .btn-l,.skin-1 .btn-xl,.skin-1 input[type=submit],.skin-1 input[type=reset],.skin-1 input[type=button],.skin-1 input.submit,.skin-1 input[type=submit]:hover,.skin-1 input[type=reset]:hover,.skin-1 input.submit:hover,.skin-1 button:hover
{
    background-color: #984676;
}

.skin-1 .comment-header .comment-created,.skin-1 .widget-contacts-info span,.skin-1 .widget-recent-posts time,.skin-1 .tweet-time,.skin-1 .widget-content li:hover a,.skin-1 h1,.skin-1 h2,.skin-1 h3,.skin-1 h4,.skin-1 h5,.skin-1 h6
{
    color: #984676;
}

.skin-1 a,.skin-1 a:visited {color: #984676;}
.skin-1 a:hover,.skin-1 a:active,.skin-1 #header-navigation a:hover {color: #D9016C;}


/* Skin 2
----------------------------------------------------------------------------- */
.skin-2 #page-header {background: url(../images/backgrounds/skin-2.jpg) #333;}

.skin-2 #bottom-widgets {
    background: url(../images/backgrounds/skin-2.jpg) #333;
    background: url(../images/bottom_widgets.png) top repeat-x,
                url(../images/bottom_widgets.png) bottom repeat-x,
                url(../images/backgrounds/skin-2.jpg) #333;
}

.skin-2 #page-header .navigation-wrapper,.skin-2 #page-header .page-frontpage .navigation-wrapper,.skin-2 #header-navigation li,.skin-2 #page-title,.skin-2 #breadcrumbs,.skin-2 .ribbon-header,.skin-2 .box-head,.skin-2 .page-content .header-404 h3.ribbon-404,.skin-2 .toggle-trigger,.skin-2 .accordion-trigger,.skin-2 #pager li:hover a,.skin-2 .pager-current span,.skin-2 table th,.skin-2 table tfoot,.skin-2 .circle-list li,.skin-2 .featured-list li,.skin-2 .arrow-list li,.skin-2 .check-list li,.skin-2 .ban-list li,.skin-2 .info-list li,.skin-2 .btn,.skin-2 .btn-s,.skin-2 .btn-l,.skin-2 .btn-xl,.skin-2 input[type=submit],.skin-2 input[type=reset],.skin-2 input[type=button],.skin-2 input.submit,.skin-2 input[type=submit]:hover,.skin-2 input[type=reset]:hover,.skin-2 input.submit:hover,.skin-2 button:hover
{
    background-color: #F05230;
}

.skin-2 .comment-header .comment-created,.skin-2 .widget-contacts-info span,.skin-2 .widget-recent-posts time,.skin-2 .tweet-time,.skin-2 .widget-content li:hover a,.skin-2 h1,.skin-2 h2,.skin-2 h3,.skin-2 h4,.skin-2 h5,.skin-2 h6
{
    color: #A6172C;
}

.skin-2 a,.skin-2 a:visited {color: #A6172C;}
.skin-2 a:hover,.skin-2 a:active,.skin-2 #header-navigation a:hover {color: #F05230;}


/* Skin 3
----------------------------------------------------------------------------- */
.skin-3 #page-header {background: url(../images/backgrounds/skin-3.jpg) #353C34;}

.skin-3 #bottom-widgets {
    background: url(../images/backgrounds/skin-3.jpg) #353C34;
    background: url(../images/bottom_widgets.png) top repeat-x,
                url(../images/bottom_widgets.png) bottom repeat-x,
                url(../images/backgrounds/skin-3.jpg) #353C34;
}

.skin-3 #page-header .navigation-wrapper,.skin-3 #page-header .page-frontpage .navigation-wrapper,.skin-3 #header-navigation li,.skin-3 #page-title,.skin-3 #breadcrumbs,.skin-3 .ribbon-header,.skin-3 .box-head,.skin-3 .page-content .header-404 h3.ribbon-404,.skin-3 .toggle-trigger,.skin-3 .accordion-trigger,.skin-3 #pager li:hover a,.skin-3 .pager-current span,.skin-3 table th,.skin-3 table tfoot,.skin-3 .circle-list li,.skin-3 .featured-list li,.skin-3 .arrow-list li,.skin-3 .check-list li,.skin-3 .ban-list li,.skin-3 .info-list li,.skin-3 .btn,.skin-3 .btn-s,.skin-3 .btn-l,.skin-3 .btn-xl,.skin-3 input[type=submit],.skin-3 input[type=reset],.skin-3 input[type=button],.skin-3 input.submit,.skin-3 input[type=submit]:hover,.skin-3 input[type=reset]:hover,.skin-3 input.submit:hover,.skin-3 button:hover
{
    background-color: #96C34B;
}

.skin-3 .comment-header .comment-created,.skin-3 .widget-contacts-info span,.skin-3 .widget-recent-posts time,.skin-3 .tweet-time,.skin-3 .widget-content li:hover a,.skin-3 h1,.skin-3 h2,.skin-3 h3,.skin-3 h4,.skin-3 h5,.skin-3 h6
{
    color: #659641;
}

.skin-3 a,.skin-3 a:visited {color: #659641;}
.skin-3 a:hover,.skin-3 a:active,.skin-3 #header-navigation a:hover {color: #3C4236;}


/* Skin 4
----------------------------------------------------------------------------- */
.skin-4 #page-header {background: url(../images/backgrounds/skin-4.jpg) #6F4924;}

.skin-4 #bottom-widgets {
    background: url(../images/backgrounds/skin-4.jpg) #6F4924;
    background: url(../images/bottom_widgets.png) top repeat-x,
                url(../images/bottom_widgets.png) bottom repeat-x,
                url(../images/backgrounds/skin-4.jpg) #6F4924;
}

.skin-4 #page-header .navigation-wrapper,.skin-4 #page-header .page-frontpage .navigation-wrapper,.skin-4 #header-navigation li,.skin-4 #page-title,.skin-4 #breadcrumbs,.skin-4 .ribbon-header,.skin-4 .box-head,.skin-4 .page-content .header-404 h3.ribbon-404,.skin-4 .toggle-trigger,.skin-4 .accordion-trigger,.skin-4 #pager li:hover a,.skin-4 .pager-current span,.skin-4 table th,.skin-4 table tfoot,.skin-4 .circle-list li,.skin-4 .featured-list li,.skin-4 .arrow-list li,.skin-4 .check-list li,.skin-4 .ban-list li,.skin-4 .info-list li,.skin-4 .btn,.skin-4 .btn-s,.skin-4 .btn-l,.skin-4 .btn-xl,.skin-4 input[type=submit],.skin-4 input[type=reset],.skin-4 input[type=button],.skin-4 input.submit,.skin-4 input[type=submit]:hover,.skin-4 input[type=reset]:hover,.skin-4 input.submit:hover,.skin-4 button:hover
{
    background-color: #E9B82F;
}

.skin-4 .comment-header .comment-created,.skin-4 .widget-contacts-info span,.skin-4 .widget-recent-posts time,.skin-4 .tweet-time,.skin-4 .widget-content li:hover a,.skin-4 h1,.skin-4 h2,.skin-4 h3,.skin-4 h4,.skin-4 h5,.skin-4 h6
{
    color: #B98324;
}

.skin-4 a,.skin-4 a:visited {color: #B98324;}
.skin-4 a:hover,.skin-4 a:active,.skin-4 #header-navigation a:hover {color: #84501E;}


/* Skin 5
----------------------------------------------------------------------------- */
.skin-5 #page-header {background: url(../images/backgrounds/skin-5.jpg) #353C34;}

.skin-5 #bottom-widgets {
    background: url(../images/backgrounds/skin-5.jpg) #353C34;
    background: url(../images/bottom_widgets.png) top repeat-x,
                url(../images/bottom_widgets.png) bottom repeat-x,
                url(../images/backgrounds/skin-5.jpg) #353C34;
}

.skin-5 #page-header .navigation-wrapper,.skin-5 #page-header .page-frontpage .navigation-wrapper,.skin-5 #header-navigation li,.skin-5 #page-title,.skin-5 #breadcrumbs,.skin-5 .ribbon-header,.skin-5 .box-head,.skin-5 .page-content .header-404 h3.ribbon-404,.skin-5 .toggle-trigger,.skin-5 .accordion-trigger,.skin-5 #pager li:hover a,.skin-5 .pager-current span,.skin-5 table th,.skin-5 table tfoot,.skin-5 .circle-list li,.skin-5 .featured-list li,.skin-5 .arrow-list li,.skin-5 .check-list li,.skin-5 .ban-list li,.skin-5 .info-list li,.skin-5 .btn,.skin-5 .btn-s,.skin-5 .btn-l,.skin-5 .btn-xl,.skin-5 input[type=submit],.skin-5 input[type=reset],.skin-5 input[type=button],.skin-5 input.submit,.skin-5 input[type=submit]:hover,.skin-5 input[type=reset]:hover,.skin-5 input.submit:hover,.skin-5 button:hover
{
    background-color: #737D26;
}

.skin-5 .comment-header .comment-created,.skin-5 .widget-contacts-info span,.skin-5 .widget-recent-posts time,.skin-5 .tweet-time,.skin-5 .widget-content li:hover a,.skin-5 h1,.skin-5 h2,.skin-5 h3,.skin-5 h4,.skin-5 h5,.skin-5 h6
{
    color: #737D26;
}

.skin-5 a,.skin-5 a:visited {color: #737D26;}
.skin-5 a:hover,.skin-5 a:active,.skin-5 #header-navigation a:hover {color: #3F522B;}


/* Skin 6
----------------------------------------------------------------------------- */
.skin-6 #page-header {background: url(../images/backgrounds/skin-6.jpg) #193B56;}

.skin-6 #bottom-widgets {
    background: url(../images/backgrounds/skin-6.jpg) #193B56;
    background: url(../images/bottom_widgets.png) top repeat-x,
                url(../images/bottom_widgets.png) bottom repeat-x,
                url(../images/backgrounds/skin-6.jpg) #193B56;
}

.skin-6 #page-header .navigation-wrapper,.skin-6 #page-header .page-frontpage .navigation-wrapper,.skin-6 #header-navigation li,.skin-6 #page-title,.skin-6 #breadcrumbs,.skin-6 .ribbon-header,.skin-6 .box-head,.skin-6 .page-content .header-404 h3.ribbon-404,.skin-6 .toggle-trigger,.skin-6 .accordion-trigger,.skin-6 #pager li:hover a,.skin-6 .pager-current span,.skin-6 table th,.skin-6 table tfoot,.skin-6 .circle-list li,.skin-6 .featured-list li,.skin-6 .arrow-list li,.skin-6 .check-list li,.skin-6 .ban-list li,.skin-6 .info-list li,.skin-6 .btn,.skin-6 .btn-s,.skin-6 .btn-l,.skin-6 .btn-xl,.skin-6 input[type=submit],.skin-6 input[type=reset],.skin-6 input[type=button],.skin-6 input.submit,.skin-6 input[type=submit]:hover,.skin-6 input[type=reset]:hover,.skin-6 input.submit:hover,.skin-6 button:hover
{
    background-color: #389BDE;
}

.skin-6 .comment-header .comment-created,.skin-6 .widget-contacts-info span,.skin-6 .widget-recent-posts time,.skin-6 .tweet-time,.skin-6 .widget-content li:hover a,.skin-6 h1,.skin-6 h2,.skin-6 h3,.skin-6 h4,.skin-6 h5,.skin-6 h6
{
    color: #286E9E;
}

.skin-6 a,.skin-6 a:visited {color: #286E9E;}
.skin-6 a:hover,.skin-6 a:active,.skin-6 #header-navigation a:hover {color: #389BDE;}


/* Skin 7
----------------------------------------------------------------------------- */
.skin-7 #page-header {background: url(../images/backgrounds/skin-7.jpg) #222;}

.skin-7 #bottom-widgets {
    background: url(../images/backgrounds/skin-7.jpg) #222;
    background: url(../images/bottom_widgets.png) top repeat-x,
                url(../images/bottom_widgets.png) bottom repeat-x,
                url(../images/backgrounds/skin-7.jpg) #222;
}

.skin-7 #page-header .navigation-wrapper,.skin-7 #page-header .page-frontpage .navigation-wrapper,.skin-7 #header-navigation li,.skin-7 #page-title,.skin-7 #breadcrumbs,.skin-7 .ribbon-header,.skin-7 .box-head,.skin-7 .page-content .header-404 h3.ribbon-404,.skin-7 .toggle-trigger,.skin-7 .accordion-trigger,.skin-7 #pager li:hover a,.skin-7 .pager-current span,.skin-7 table th,.skin-7 table tfoot,.skin-7 .circle-list li,.skin-7 .featured-list li,.skin-7 .arrow-list li,.skin-7 .check-list li,.skin-7 .ban-list li,.skin-7 .info-list li,.skin-7 .btn,.skin-7 .btn-s,.skin-7 .btn-l,.skin-7 .btn-xl,.skin-7 input[type=submit],.skin-7 input[type=reset],.skin-7 input[type=button],.skin-7 input.submit,.skin-7 input[type=submit]:hover,.skin-7 input[type=reset]:hover,.skin-7 input.submit:hover,.skin-7 button:hover
{
    background-color: #A7238C;
}

.skin-7 .comment-header .comment-created,.skin-7 .widget-contacts-info span,.skin-7 .widget-recent-posts time,.skin-7 .tweet-time,.skin-7 .widget-content li:hover a,.skin-7 h1,.skin-7 h2,.skin-7 h3,.skin-7 h4,.skin-7 h5,.skin-7 h6
{
    color: #A7238C;
}

.skin-7 a,.skin-7 a:visited {color: #A7238C;}
.skin-7 a:hover,.skin-7 a:active,.skin-7 #header-navigation a:hover {color: #A41EBE;}


/* Skin 8
----------------------------------------------------------------------------- */
.skin-8 #page-header {
    background: url(../images/backgrounds/skin-8-2.png) center -100px no-repeat,
                url(../images/backgrounds/skin-8.gif) #111;
}

.skin-8 #bottom-widgets {
    background: url(../images/backgrounds/skin-8.gif) #111;
    background: url(../images/bottom_widgets.png) top repeat-x,
                url(../images/bottom_widgets.png) bottom repeat-x,
                url(../images/backgrounds/skin-8-2.png) center bottom no-repeat,
                url(../images/backgrounds/skin-8.gif) #111;
}

.skin-8 #page-header .navigation-wrapper,.skin-8 #page-header .page-frontpage .navigation-wrapper,.skin-8 #header-navigation li,.skin-8 #page-title,.skin-8 #breadcrumbs,.skin-8 .ribbon-header,.skin-8 .box-head,.skin-8 .page-content .header-404 h3.ribbon-404,.skin-8 .toggle-trigger,.skin-8 .accordion-trigger,.skin-8 #pager li:hover a,.skin-8 .pager-current span,.skin-8 table th,.skin-8 table tfoot,.skin-8 .circle-list li,.skin-8 .featured-list li,.skin-8 .arrow-list li,.skin-8 .check-list li,.skin-8 .ban-list li,.skin-8 .info-list li,.skin-8 .btn,.skin-8 .btn-s,.skin-8 .btn-l,.skin-8 .btn-xl,.skin-8 input[type=submit],.skin-8 input[type=reset],.skin-8 input[type=button],.skin-8 input.submit,.skin-8 input[type=submit]:hover,.skin-8 input[type=reset]:hover,.skin-8 input.submit:hover,.skin-8 button:hover
{
    background-color: #ccc;
}

.skin-8 #page-title h2,
.skin-8 #page-title h3,
.skin-8 .ribbon-header,
.skin-8 .box-head, 
.skin-8 .page-content .header-404 h3.ribbon-404,
.skin-8 .btn,
.skin-8 .btn-s,
.skin-8 .btn-l,
.skin-8 .btn-xl,
.skin-8 input[type=submit],
.skin-8 input[type=reset],
.skin-8 input[type=button],
.skin-8 input.submit,
.skin-8 input[type=submit]:hover,
.skin-8 input[type=reset]:hover,
.skin-8 input.submit:hover,
.skin-8 button:hover
{
    color: #000!Important;
    text-shadow: 0 1px 0 #CDCDCD!Important;
}

.skin-8 .comment-header .comment-created,.skin-8 .widget-contacts-info span,.skin-8 .widget-recent-posts time,.skin-8 .tweet-time,.skin-8 .widget-content li:hover a,.skin-8 h1,.skin-8 h2,.skin-8 h3,.skin-8 h4,.skin-8 h5,.skin-8 h6
{
    color: #000;
}

.skin-8 a,.skin-8 a:visited {color: #000;}
.skin-8 a:hover,.skin-8 a:active,.skin-8 #header-navigation a:hover {color: #646464;}

.skin-8 #title-search input[type=submit] {
    color: #fff!Important;
    text-shadow: 0 1px 0 #000!Important;
}

.alt-widgets li:hover a,
.alt-widgets a:hover {
    color: #fff!Important;
}


/* Skin 9
----------------------------------------------------------------------------- */
.skin-9 #page-header {background: url(../images/backgrounds/skin-9.jpg) #26435B;}

.skin-9 #bottom-widgets {
    background: url(../images/backgrounds/skin-9.jpg);
    background: url(../images/bottom_widgets.png) top repeat-x,
                url(../images/bottom_widgets.png) bottom repeat-x,
                url(../images/backgrounds/skin-9.jpg) #26435B;
}

.skin-9 #page-header .navigation-wrapper,.skin-9 #page-header .page-frontpage .navigation-wrapper,.skin-9 #header-navigation li,.skin-9 #page-title,.skin-9 #breadcrumbs,.skin-9 .ribbon-header,.skin-9 .box-head,.skin-9 .page-content .header-404 h3.ribbon-404,.skin-9 .toggle-trigger,.skin-9 .accordion-trigger,.skin-9 #pager li:hover a,.skin-9 .pager-current span,.skin-9 table th,.skin-9 table tfoot,.skin-9 .circle-list li,.skin-9 .featured-list li,.skin-9 .arrow-list li,.skin-9 .check-list li,.skin-9 .ban-list li,.skin-9 .info-list li,.skin-9 .btn,.skin-9 .btn-s,.skin-9 .btn-l,.skin-9 .btn-xl,.skin-9 input[type=submit],.skin-9 input[type=reset],.skin-9 input[type=button],.skin-9 input.submit,.skin-9 input[type=submit]:hover,.skin-9 input[type=reset]:hover,.skin-9 input.submit:hover,.skin-9 button:hover
{
    background-color: #2F9DD8;
}

.skin-9 .comment-header .comment-created,.skin-9 .widget-contacts-info span,.skin-9 .widget-recent-posts time,.skin-9 .tweet-time,.skin-9 .widget-content li:hover a,.skin-9 h1,.skin-9 h2,.skin-9 h3,.skin-9 h4,.skin-9 h5,.skin-9 h6
{
    color: #3081ad;
}

.skin-9 a,.skin-9 a:visited {color: #3081ad;}
.skin-9 a:hover,.skin-9 a:active,.skin-9 #header-navigation a:hover {color: #17658e;}

#page-header h1 a
{
    color: #fff;
    text-shadow: 0 -1px 0 #17658e;
}

#page-header h2
{
    color: #fff;
    text-shadow: 0 -1px 0 #17658e;
}


/* Skin 10
----------------------------------------------------------------------------- */
.skin-10 #page-header {background: url(../images/backgrounds/skin-10.jpg) #1b1b1b;}

.skin-10 #bottom-widgets {
    background: url(../images/backgrounds/skin-10.jpg);
    background: url(../images/bottom_widgets.png) top repeat-x,
                url(../images/bottom_widgets.png) bottom repeat-x,
                url(../images/backgrounds/skin-10.jpg) #222;
}

.skin-10 #page-header .navigation-wrapper,.skin-10 #page-header .page-frontpage .navigation-wrapper,.skin-10 #header-navigation li,.skin-10 #page-title,.skin-10 #breadcrumbs,.skin-10 .ribbon-header,.skin-10 .box-head,.skin-10 .page-content .header-404 h3.ribbon-404,.skin-10 .toggle-trigger,.skin-10 .accordion-trigger,.skin-10 #pager li:hover a,.skin-10 .pager-current span,.skin-10 table th,.skin-10 table tfoot,.skin-10 .circle-list li,.skin-10 .featured-list li,.skin-10 .arrow-list li,.skin-10 .check-list li,.skin-10 .ban-list li,.skin-10 .info-list li,.skin-10 .btn,.skin-10 .btn-s,.skin-10 .btn-l,.skin-10 .btn-xl,.skin-10 input[type=submit],.skin-10 input[type=reset],.skin-10 input[type=button],.skin-10 input.submit,.skin-10 input[type=submit]:hover,.skin-10 input[type=reset]:hover,.skin-10 input.submit:hover,.skin-10 button:hover
{
    background-color: #9B6533;
}

.skin-10 .comment-header .comment-created,.skin-10 .widget-contacts-info span,.skin-10 .widget-recent-posts time,.skin-10 .tweet-time,.skin-10 .widget-content li:hover a,.skin-10 h1,.skin-10 h2,.skin-10 h3,.skin-10 h4,.skin-10 h5,.skin-10 h6
{
    color: #9E6A3E;
}

.skin-10 a,.skin-10 a:visited {color: #9E6A3E;}
.skin-10 a:hover,.skin-10 a:active,.skin-10 #header-navigation a:hover {color: #5E2D19;}