-if post[:type] == "photo"
  - post[:content].each do |picture|
    %p.align-center
      %a.img-holder.round-3{:href => picture, :rel => "prettyPhoto", :title => post[:title]}
        %img{:alt => "Tumblr", :height => "70", :src => picture, :width => "70"}/