/ Page sidebar
%aside.sidebar.grid_4
  / Widget blogroll
  %nav.widget-container.widget-blogroll
    %h2.widget-heading Blogroll
    .widget-content
      %ul
        %li
          %a{:href => "#", :title => "Wordpress website"} Wordpress.org
        %li
          %a{:href => "#", :title => "Google's website"} Google.com
        %li
          %a{:href => "#", :title => "Long sitename"} Some long site title
        %li
          %a{:href => "#", :title => "Design booom themes"} Dbooom themes
  / /Widget blogroll
/ Page sidebar