/ Page title and breadcrumbs
/ %section#page-title.clearfix
/   .container_12
/     / Title and page summary
/     %hgroup#title-text.grid_8
/       %h2 Blog post
/       %h3 This page shows you a blog post example.
/     / /Title and page summary
/     / Site search form
/     #title-search.grid_4.alt-form
/       %form#site-search-form.inline{:action => "."}
/         %label Search criteria
/         %input#seachField{:name => "seach_field", :placeholder => "Search criteria", :type => "search"}/
/         %input{:type => "submit", :value => "Search"}/
/     / /Site search form
/     / Breadcrumbs
/     %nav#breadcrumbs.grid_12
/       %a{:href => "index.html"} Home
/     / /Breadcrumbs
/ / /Page title and breadcrumbs