/ Footer
%footer#page-footer.container_12.clearfix
  / Footer credits
  .grid_6.footer-info
    %p
      © Copyright 2011
      %a{:href => "http://dbooom.com/themes/html/manifest"} Dbooom Themes
      \- All Rights Reserved
  / /Footer credits
  / Footer navigation
  %nav.grid_6.footer-navigation
    %ul
      %li
        %a{:href => "index.html", :title => "Frontpage"} Home
      %li
        %a{:href => "blog.html", :title => "Blog"} Blog
      %li
        %a{:href => "portfolio-1.html", :title => "Portfolio"} Portfolio
      %li
        %a{:href => "contacts.html", :title => "Contact information"} Contacts
  / /Footer navigation
/ /Footer