/ Header
%header#page-header
  / Site name + slogan
  = render "header_top"
  / /Site name + slogan
  / Site navigation wrapper
  = render "navigation_wrapper"
  //Removing this until I have more content to display up there
    