%hgroup
  %h1#site-name
    %a{:href => "index.html", :title => "Manifest template frontpage"} Manifest templates
  %h2#site-slogan Clean, elegant, modern, premium template with rich list of features. PARTIAL