.navigation-wrapper
  / Header navigation
  %nav#header-navigation
    %ul
      %li
        %a{:href => "index.html", :title => "Frontpage"} Home
        %ul
          %li
            %a{:href => "index.html", :title => "Nivo Slider"} Nivo Slider
          %li
            %a{:href => "index-3d.html", :title => "3D Slider"} 3D Slider
          %li
            %a{:href => "index-accordion.html", :title => "Accordion Slider"} Accordion Slider
          %li
            %a{:href => "index-carousel.html", :title => "Carousel Slider"} Carousel Slider
          %li
            %a{:href => "index-static.html", :title => "Static header"} Static header
      %li
        %a{:href => "#", :title => "Pages"} Pages
        %ul
          %li
            %a{:href => "sidebar-left.html", :title => "Page with left sidebar"} Page with left sidebar
          %li
            %a{:href => "sidebar-right.html", :title => "Page with right sidebar"} Page with right sidebar
          %li
            %a{:href => "full-width.html", :title => "Full width page"} Full width page
          %li
            %a{:href => "team.html", :title => "Our team"} Our team
          %li
            %a{:href => "404.html", :title => "Not found page"} 404 Page
      %li
        %a{:href => "#", :title => "Template features"} Features
        / Subnavigation first level
        %ul
          %li
            %a{:href => "features/typography.html", :title => "Typography elements"} Typography
          %li
            %a{:href => "features/elements.html", :title => "Boxes and elements"} Boxes and elements
          %li
            %a{:href => "features/tabs.html", :title => "Tabs & Toggles"} Tabs & Toggles
          %li
            %a{:href => "features/media.html", :title => "Media"} Media
          %li
            %a{:href => "features/columns.html", :title => "Columns"} Columns
          %li
            %a{:href => "features/widgets.html", :title => "Widgets library"} Widgets
          %li
            %a.with-subnav{:href => "#", :title => "Skins"} Predefined skins
            / Subnavigation second level
            %ul.subnav
              %li
                %a{:href => "features/skins/blog-post-1.html", :title => "Grunge Flowers"} Grunge Flowers
              %li
                %a{:href => "features/skins/blog-post-2.html", :title => "Dark Wood"} Dark Wood
              %li
                %a{:href => "features/skins/blog-post-3.html", :title => "Green Cane"} Green Cane
              %li
                %a{:href => "features/skins/blog-post-4.html", :title => "Warm Wood"} Warm Wood
              %li
                %a{:href => "features/skins/blog-post-5.html", :title => "Swamp Bush"} Swamp Bush
              %li
                %a{:href => "features/skins/blog-post-6.html", :title => "Blue Tile"} Blue Tile
              %li
                %a{:href => "features/skins/blog-post-7.html", :title => "Universe"} Universe
              %li
                %a{:href => "features/skins/blog-post-8.html", :title => "Strict Asphalt"} Strict Asphalt
              %li
                %a{:href => "features/skins/blog-post-9.html", :title => "Underwater"} Underwater
              %li
                %a{:href => "features/skins/blog-post-10.html", :title => "Primeval Spirit"} Primeval Spirit
            / /Subnavigation second level
          %li
            %a{:href => "#", :title => "Second level navigation test"} Dropdown 2rd level
            / Subnavigation second level
            %ul
              %li
                %a{:href => "#", :title => "Second level dummy"} Second level dummy
              %li
                %a{:href => "#", :title => "Second level dummy"} Second level dummy
              %li
                %a{:href => "#", :title => "Second level dummy"} Second level dummy
              %li
                %a{:href => "#", :title => "Second level dummy"} Second level dummy
              %li
                %a{:href => "#", :title => "Second level dummy"} Dropdown 3rd level
                / Subnavigation third level
                %ul
                  %li
                    %a{:href => "#", :title => "Third level dummy"} Third level dummy
                  %li
                    %a{:href => "#", :title => "Third level dummy"} Third level dummy
                  %li
                    %a{:href => "#", :title => "Third level dummy"} Third level dummy
                / /Subnavigation third level
            / /Subnavigation second level
        / /Subnavigation first level
      %li
        %a{:href => "portfolio-sidebar.html", :title => "Portfolio"} Portfolio
        / Subnavigation second level
        %ul
          %li
            %a{:href => "portfolio-1.html", :title => "One Column Portfolio"} One Column Portfolio
          %li
            %a{:href => "portfolio-2.html", :title => "Two Columns Portfolio"} Two Columns Portfolio
          %li
            %a{:href => "portfolio-3.html", :title => "Three Columns Portfolio"} Three Columns Portfolio
          %li
            %a{:href => "portfolio-4.html", :title => "Portfolio Four Columns"} Portfolio Four Columns
          %li
            %a{:href => "gallery.html", :title => "Gallery"} Gallery
        / /Subnavigation second level
      %li
        %a{:href => "blog.html", :title => "Blog"} Blog
        / Subnavigation second level
        %ul
          %li
            %a{:href => "blog-post.html", :title => "Blog Post"} Blog Post
        / /Subnavigation second level
      %li
        %a{:href => "contacts.html", :title => "Contacts"} Contacts
    / /Header navigation
  / /Site navigation wrapper
/ /Header
/ Slider nivo
.slider-wrapper.slider-nivo
  .slider-content
    %a{:href => "#", :title => "Some title"}
      %img.slide-item{:alt => "Slide three", :src => "assets/940x360.gif"}/
    %a{:href => "#", :title => "Some title"}
      %img.slide-item{:alt => "Slide one", :src => "assets/940x360_2.gif", :title => "#htmlcaption"}/
    %a{:href => "#", :title => "Some title"}
      %img.slide-item{:alt => "Slide two", :src => "assets/940x360_3.gif"}/
    %a{:href => "#", :title => "Some title"}
      %img.slide-item{:alt => "Slide four", :src => "assets/940x360_4.gif"}/
  #htmlcaption.nivo-html-caption
    %h3 Caption example
    %strong This
    is an example of a
    %em HTML
    caption with
    = succeed "." do
      %a{:href => "#"} a link
/ /Slider nivo