.navigation-wrapper
  / Header navigation
  %nav#header-navigation
    %ul
      %li
        = link_to("Home", :root)
      %li
        %a{:href => "index.html", :title => "About Me"} About me
        %ul
          %li
            %a{:href => "index.html", :title => "Resume"} Resume
          %li
            %a{:href => "index.html", :title => "Github"} Github
      %li
        = link_to("Merchandise", store_index_path)
    / /Header navigation
  / /Site navigation wrapper
/ /Header
