.navigation-wrapper
  / Header navigation
  %nav#header-navigation
    %ul
      %li
        %a{:href => "index.html", :title => "Frontpage"} Home
        %ul
          %li
            %a{:href => "index.html", :title => "Nivo Slider"} Nivo Slider
          %li
            %a{:href => "index-3d.html", :title => "3D Slider"} 3D Slider
          %li
            %a{:href => "index-accordion.html", :title => "Accordion Slider"} Accordion Slider
          %li
            %a{:href => "index-carousel.html", :title => "Carousel Slider"} Carousel Slider
          %li
            %a{:href => "index-static.html", :title => "Static header"} Static header
      %li
        %a{:href => "#", :title => "Pages"} Professional
        %ul
          %li
            %a{:href => "sidebar-left.html", :title => "Page with left sidebar"} Resume
          %li
            %a{:href => "sidebar-left.html", :title => "Page with left sidebar"} Github
      %li
        %a{:href => "#", :title => "Template features"} About me
    / /Header navigation
  / /Site navigation wrapper
/ /Header
/ Slider nivo
.slider-wrapper.slider-nivo
  .slider-content
    %a{:href => "#", :title => "Some title"}
      %img.slide-item{:alt => "Slide three", :src => "assets/940x360.gif"}/
    %a{:href => "#", :title => "Some title"}
      %img.slide-item{:alt => "Slide one", :src => "assets/940x360_2.gif", :title => "#htmlcaption"}/
    %a{:href => "#", :title => "Some title"}
      %img.slide-item{:alt => "Slide two", :src => "assets/940x360_3.gif"}/
    %a{:href => "#", :title => "Some title"}
      %img.slide-item{:alt => "Slide four", :src => "assets/940x360_4.gif"}/
  #htmlcaption.nivo-html-caption
    %h3 Caption example
    %strong This
    is an example of a
    %em HTML
    caption with
    = succeed "." do
      %a{:href => "#"} a link
/ /Slider nivo