.navigation-wrapper
  / Header navigation
  %nav#header-navigation
    %ul
      %li
        %a{:href => "index.html", :title => "Frontpage"} Home
      %li
        %a{:href => "index.html", :title => "About Me"} About me
        %ul
          %li
            %a{:href => "index.html", :title => "Resume"} Resume
          %li
            %a{:href => "index-3d.html", :title => "Github"} Github
      %li
        %a{:href => "#", :title => "Merchandise"} Merchandise
    / /Header navigation
  / /Site navigation wrapper
/ /Header
