/ Slider nivo
.slider-wrapper.slider-nivo
  .slider-content
    %a{:href => "#", :title => "Latest Youtube Video"}
      %img.slide-item{:alt => "Slide three", :src => "assets/940x360.gif"}/
    %a{:href => "#", :title => "Some title"}
      %img.slide-item{:alt => "Slide one", :src => "assets/940x360_2.gif", :title => "#htmlcaption"}/
    %a{:href => "#", :title => "Some title"}
      %img.slide-item{:alt => "Slide two", :src => "assets/940x360_3.gif"}/
    %a{:href => "#", :title => "Some title"}
      %img.slide-item{:alt => "Slide four", :src => "assets/940x360_4.gif"}/
  #htmlcaption.nivo-html-caption
    %h3 Caption example
    %strong This
    is an example of a
    %em HTML
    caption with
    = succeed "." do
      %a{:href => "#"} a link
/ /Slider nivo