/ Gallery list item
%section.gallery-item.grid_3
  / Gallery item picture
  %a.gallery-image.round-3{:href => "assets/590x290.gif", :rel => "prettyPhoto[gal]", :title => "View fullsize"}
    %span.gallery-image-inner
      %img{:alt => "Item one", :height => "130", :src => "assets/210x130.gif", :width => "120"}/
  / /Gallery item picture
/ /Gallery list item