%h1 Merch Logo Goes Here

/ Page content
.page-content
  - @products.each do |item|
    = render :partial => "store/item", :locals => {:item => item}

  #pager
    %ul
      %li.pager-first
        %a{:href => "#", :title => "First page"} « First
      %li
        %a{:href => "#", :title => "Second page"} 1
      %li
        %a{:href => "#", :title => "Third page"} 2
      %li.pager-current
        %span{:title => "Current page"} 3
      %li
        %a{:href => "#", :title => "Fifth page"} 4
      %li.pager-last
        %a{:href => "#", :title => "Last page"} Last »
/ /Page content
